.shoe-panel {
    min-height: 70vh;
    padding: 10px 20px 10px 20px;
    background: #ffffff;
    border-radius: 4px;
}

.search-input-container {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.input {
    width: 60%;
}

.search-button {
    margin-left: 10px;
}

.shoe-area {
    position: relative;
}